:root {
  font-family: Verdana,sans-serif;
  color: #ffffff;
  
  --light: #d9d9d9;
  --dark: #6e6e6e;
  /* these two aren't actully used for anything :p */
  --darker: #262626;
  --accent: #ffffff;
}
body {
  background: var(--darker);
  margin: 0;
}
#root {
  display: flex;
}
/* default state of sticky when larger than 1100 */
#sidebar {
  --width: 300px;
  min-width: var(--width);
  height: 100vh;
  position: sticky;
  z-index: 1;
  top: 0;
  
  transition: min-width 0.2s ease-in-out;
}
#sidebar.hidden {
  min-width: 0px;
}
#canvas {
  background: #262626;
  min-width: var(--width);
  height: 100%;
  position: absolute;
  right: 0;
  transform: rotate(180deg);
}
#hamburger {
  fill: #ffffff;
  cursor: pointer;
  width: 30px;
  height: 30px;
  position: fixed;
  z-index: 2;
  bottom: 10px;
  left: 10px;
  user-select: none;
}
#back {
  position: absolute;
  right: 0;
  transform: translateX(100%);
  padding: 10px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  user-select: none;
}
#tableofcontents {
  min-width: var(--width);
  position: absolute;
  right: 0;
  box-sizing: border-box;
  padding: 10px;
  overflow: auto;
  height: 100%;
}
#tableofcontents h1 {
  font-size: 22;
  position: relative;
  margin: 0 0 24px 0;
}
#tableofcontents h1::after {
  background-color: var(--light);
  content: '';
  width: 100%;
  height: 4px;
  position: absolute;
  bottom: -8px;
  left: 0;
}
#tableofcontents a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  display: block;
  width: fit-content;
  position: relative;
  z-index: 0;
  margin: 0 0 4px 16px;
  padding: 0 4px;
  user-select: none;
}
#tableofcontents a::after {
  background-color: var(--dark);
  content: '';
  width: 100%;
  height: 8px;
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
  
  transform-origin: left;
  transform: scaleX(0);
  transition: transform .2s ease-in-out;
}
#tableofcontents a:hover::after,
#tableofcontents a.selected::after {
  transform: scaleX(1);
}
#tableofcontents a + h1 {
  padding-top: 24px;
}

#blogcanvas {
  background: #212121;
  width: 100%;
  min-height: 100vh;
}
#blog {
  max-width: 760px;
  padding: 0px 20px;
  margin: auto;
  margin-bottom: 300px;
}

#blog h1,
#blog h2,
#blog h3 {
  --ul: #ffffff;
  position: relative;
  margin: 0;
  padding: 0 6px;
}
#blog h1::after,
#blog h2::after,
#blog h3::after {
  background-color: var(--dark);
  content: '';
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: -8px;
  left: 0;
}
#blog h1 {
  margin-bottom: 24px;
  margin-top: 48px;
}
#blog h2 {
  margin-bottom: 20px;
  margin-top: 48px;
}
#blog h3 {
  margin-bottom: 16px;
  margin-top: 32px;
}
#blog a {
  font-weight: bold;
  color: var(--light);
}
#blog img {
  width: 100%;
}
#blog pre {
  background: var(--darker);
  border-radius: 8px;
  overflow: auto;
  margin: 0;
  padding: 12px;
}
#blog pre code p {
  margin: 0;
  display: inline;
}
#blog pre code {
    color: inherit;
    background: none;
    padding: 0px;
    border-radius: inherit;
}
#blog code {
    padding: .25em .3em;
    background: var(--darker);
    border-radius: 4px;
    color: var(--light);
}
#blog h1.bigtitle {
  margin-bottom: 16px;
  margin-top: 48px;
}
#metadata {
  margin-bottom: 40px;
}

@media only screen and (max-width: 1100px) {
  #sidebar {
    position: fixed;
    height: 100%;
  }
}
