:root {
  --light: #c8e0ce;
  --dark: #085c30;
  font-size: 14px;
}

#resume {
  max-width: calc(8.5in - 24px);
  max-height: calc(11in - 16px);
  margin:auto;
  position:inherit;
  padding: 8px 8px;
}

/*** root ***/
.root > .header {
  display: flex;
  margin-bottom: 8px;
  padding: 10px;
  background: var(--light)
}

.root > .children {
  /* column-count: 2; */
  /* column-fill: auto; */
  column-fill: balance;
}

.root > .header > .info {
  width: 100%;
  margin-left: 15px;
}
.root > .header > .info > .title,
.root > .header > .info > .subtitle {
  display: inline
}
.root > .header > .info > .title {
  font-size: 40px;
}
.root > .header > .info > .subtitle {
  font-size: 24px;
}
.root > .header > .info > .subtitle::before {
  content: " ";
}
.link {
  white-space: nowrap;
  height: 20px;
  display: flex;
  margin-bottom: 2px;
}
.link:last-child {
  margin-bottom: 0;
}
.link > svg {
  width: 20px;
  height: 20px;
  margin-right: 6px;
}
.link > a {
  display: block;
  margin: auto 0px;
  height: 100%
}


/*** common ***/
.title {
  font-weight: bold;
}
.subtitle::before,
.description::before {
  content: "\a";
  white-space: pre;
}
.date {
  font-style: italic;
  float: right;
}
p {
  margin: 0;
}
a {
  color: var(--dark);
  font-weight: bold;
}

/*** depth based stuff ***/
.depth-1 {
  /*border-left: 8px var(--light) solid;*/
  /*padding-left: 8px;*/
  margin-bottom: 8px;
}
.depth-1 > .title {
  font-size: 24px;
  margin-bottom: 8px;
}
.depth-1 > .subtitle {
  font-syle: italic;
  color: gray;
}

.depth-2 {
  border-left: 8px var(--light) solid;
  padding-bottom: 8px;
}
div:first-of-type.depth-2 {
  margin-top: 4px;
}
.depth-2:last-child {
  padding-bottom: 0px
}

.depth-2 > .title {
  border-left: 16px var(--light) solid;
  padding-left: 8px;
}


.depth-3 {
  padding-left: 8px;
}

/*** tags ***/
.tags > .title {
  display: inline;
  font-weight: normal;
  font-weight: bold;
  border-left: none;
}
.tags > .title::after {
  content: ":";
  margin-right: 3px;
}
.tagbox {
  display: inline;
}
.tagbox > * {
  margin-left: 5px !important;
}
.tag {
  background: var(--light);
  display: inline-block;
  padding: 2px 8px;
  border-radius: 5px;
  margin: 2px 0px;
}

/*** bullets ***/
.bullets > ul {
  margin: 0px;
  padding-inline-start: 20px;
}

/*** key value stuff ***/
.key::after {
  content: ": ";
}
.key {
  font-weight: bold;
}
